* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  height: 100vh;
  background-image: url("../image/headerImage/Group 15.png"), url("../image/headerImage/bgc.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1170px;
  height: 100%;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  padding: 61px 0 200px;
}

.header__timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Roboto;
}

.header__date {
  font-size: 13px;
}

.header__date span {
  margin: 5px;
}

.timer {
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.button {
  color: white;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  background: transparent;
  width: 40px;
  height: 40px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.button:hover {
  color: #17376A;
  background-color: #fff;
}

.header__button {
  margin-left: 16px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info .link {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32.7%;
  color: #FFFFFF;
  text-decoration: none;
}

.info__link {
  margin-bottom: 23px;
}

.content {
  max-width: 740px;
}

.content .text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  color: #FFFFFF;
  margin: 25px 0;
}

.details {
  padding: 18px 58px;
  background: #DBA682;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  text-align: justify;
  color: #FFFFFF;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 23px;
  text-align: justify;
}

.point {
  font-size: 40px;
  color: #DBA682;
  font-weight: bold;
  margin-bottom: 17px;
}

.event {
  margin: 62px 0 77px;
}

.event__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.event .text {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  color: #001122;
}

.event__text {
  margin-right: 40px;
}

.event__title {
  margin-top: 20px;
}

.news {
  background-image: url("../image/programConference/bgc.jpg");
  color: white;
  position: relative;
}

.news__button {
  background: transparent;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 23px;
  color: #DBA682;
  border: 1px solid #DBA682;
}

.news__row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 78px 0 57px;
}

.wrapper {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 20px rgba(149, 149, 149, 0.1);
          box-shadow: 0px 10px 20px rgba(149, 149, 149, 0.1);
  color: black;
}

.news__date {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news__date .date {
  margin: 60px 30px 73px;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 23px;
  color: grey;
  border-bottom: 1px solid grey;
  cursor: pointer;
  text-decoration: none;
  padding: 15px;
}

.news__date .date:hover {
  color: #DBA682;
  border-bottom: 1px solid #dba682;
}

article {
  border: 1px solid grey;
  max-width: 1030px;
  margin: auto;
  padding: 13px 30px;
  margin-bottom: 26px;
}

.new__row {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid grey;
}

.news__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 19px;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  color: #001122;
  margin-bottom: 8px;
}

.news__span {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  color: #DBA682;
}

.news__title h2 {
  margin: 26px 0 12px;
}

.news__text {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
}

.news__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link__button {
  margin: 20px 0 111px;
  padding: 13px 59px;
  background: #DBA682;
  color: #ffffff;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 23px;
}

.location {
  padding: 130px 0 110px;
}

.location__image {
  margin-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location__image img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
}
/*# sourceMappingURL=style.css.map */